body{
    background-color: #fffff9;
}
#taskContainer{
    max-width: 600px;
    margin:0 auto;
    background-color: white;
    margin-top:5vh;
    margin-bottom:5vh;
    justify-content: space-around;
    align-items: flex-start;
    -webkit-box-shadow: -1px 3px 68px -35px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 68px -35px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 68px -35px rgba(0,0,0,0.75);
}
#formWrapper{
    position: sticky;
    top:0;
    border-bottom:1px solid #ffc56d;
    background-color: white;
    padding:40px;
}
#submit{
    background-color: #edc328;
    border-radius: 5px;
    border:0;
    color:white;
}
.flexWrapper{
    display: flex;
}
.taskWrapper{
    margin:5px;
    padding:20px;
    cursor: pointer;
    color:black;
    border-bottom:1px solid #ffc56d;
}