{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static '/css/main.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="taskContainer">
            <div id="formWrapper">
                <form id="form" method="POST">
                    <div class="flexWrapper">
                        <div style="flex:6">
                            <input id="taskName" class="form-control" type="text" name="taskName" placeholder="add task">
                        </div>
                        <div style="flex:1">
                            <input id="submit" class="btn" type="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div id="listWrapper">

            </div>
        </div>
    </div>



<script type='text/javascript'>
    
    function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
		    var cookies = document.cookie.split(';');
		    for (var i = 0; i < cookies.length; i++) {
		        var cookie = cookies[i].trim();
		        
		        if (cookie.substring(0, name.length + 1) === (name + '=')) {
		            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		            break;
		        }
		    }
		}
		return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
    var activeItem = null
	var list_snapshot = []

    listBuilder()
    
    function listBuilder(){
        var wrapper = document.getElementById('listWrapper')
        wrapper.innerHTML   = ''
        var url     = 'http://127.0.0.1:8000/api/taskList/'

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            var list = data
            for (var i in list){
                
                var name =  `<span class="name">${list[i].name}</span>`
                if (list[i].done == true){
                    name =  `<strike class="name">${list[i].name}</<strike>`
                }
                var item = `
                    <div id="data-row-${i}" class="taskWrapper flexWrapper">
                    
                        <div style="flex:7">
                            ${name}
                        </div>
                        <div style="flex:1">
                            <button class="btn btn-sm btn-outline-info edit">Edit</button>
                        </div>
                        <div style="flex:1">
                        <button class="btn btn-sm btn-outline-dark delete">Delete</button>
                        </div>                
                    </div>
                `
                wrapper.innerHTML += item

                

            }
            for (var i in list){
                var editButton    = document.getElementsByClassName('edit')[i] 
                var deleteButton  = document.getElementsByClassName('delete')[i] 
                var name          = document.getElementsByClassName('name')[i]
                editButton.addEventListener('click', (function(item){
                    return function(){
                        editItem(item)
                    }
                })(list[i]))

                deleteButton.addEventListener('click', (function(item){
                    return function(){
                        deleteItem(item)
                    }
                })(list[i]))

                name.addEventListener('click', (function(item){
                    return function(){
                        strike(item)
                    }
                })(list[i]))
            }
        })
    }

    var form = document.getElementById('formWrapper')
    form.addEventListener('submit',function(e){
        e.preventDefault()
        
        var url     = 'http://127.0.0.1:8000/api/createTask/'
        if (activeItem != null ){
            var url     = `http://127.0.0.1:8000/api/updateTask/${activeItem.id}/`
            
        }

        var name    = document.getElementById('taskName').value
        fetch(url,{
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken' : csrftoken,
            },
            body:JSON.stringify({'name':name})
        }
        ).then(function(response){
            listBuilder()
            document.getElementById('form').reset()
        })
    })

    function editItem(item){
        
        activeItem  =  item
        document.getElementById('taskName').value = activeItem.name
    }

    function deleteItem(item){
        console.log('item delete', item)
        fetch(`http://127.0.0.1:8000/api/deleteTask/${item.id}/`,{
            method:'DELETE',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken' : csrftoken,
            },
        }).then((response)=>{
            listBuilder()
        })
    }
    function strike(item){
        console.log('ddD')
        item.done = !item.done
        fetch(`http://127.0.0.1:8000/api/updateTask/${item.id}/`,{
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken' : csrftoken,
            },
            body:JSON.stringify({'title':item.title, 'done': item.done})
        }).then((response)=>{
            listBuilder()
        })
    }


</script>

  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>